.text-medium-emphasis{
    font-size:20px;
    color:#000;
    font-weight:500;
    margin-top: 17px;  
}

.familyid-logo{

    display:flex;
    justify-content: center;
}
.password-icon 
img{

    width:23px;

}

.password-icon{

    cursor: pointer;

}