.invalid-feedback {

    color: red;
    margin-top: 5px;

}


.modal-boy{
    margin-bottom: 20px;
}
.close img{
    width: 23px;
}

.close{
    border:none;
    background: none;
}

.form-group{
    padding-bottom:10px
}

label{
    margin-bottom: 10px;
}