.edit-icon,
.delete-icon {
    width: 23px;
    height: 23px;
}

.close img {
    width: 23px;
}

.close {
    border: none;
    background: none;
}

.export-section {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;

}

.csv-btn {
    width: 75px;
    height: 40px;
    color: #000;
}

.manage-families-heading {
    text-align: center;
    margin-bottom: 30px;
}

.updation-to {
    font-size: 18px;
    margin: 0px 10px;
    padding-bottom: 10px;
}

.updation-from {
    font-size: 18px;
    margin: 0px 12px;
    font-weight: 400;
}

.last-updation {
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 10px;
}

.view-familyresult {
    .table {
        width: 100%;
        margin-top: 30px;

        .table-heading {
            border-bottom: 2px solid #EDC228;
            font-family: 'Montserrat bold';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #373737;
            align-items: center;

            th {
                padding: 10px;
                text-align: center;
            }
        }

        .table-body tr:nth-child(even) {
            background: #F4F4F4;
        }

        tr:first-child {
            background: none !important;
        }

        tr:last-child td:nth-child(2) {
            color: #373737 !important;
        }

        tr:last-child {
            background: none !important;
            border-top: 2px solid #EDC228;
        }

        tr:last-child td {
            font-family: 'Montserrat Bold';
            font-weight: 700;
            font-size: 18px;
            color: #EDC228 !important;
        }

        tr:nth-child(odd) {
            background: #FBFBFB;
        }

        td {
            padding: 10px;
            text-align: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #4A4A4A;
        }
    }

    td:first-child,
    td:last-child {
        font-weight: 700;
        font-family: 'Montserrat Bold';
    }
}

.result-inner-section {
    background-color: #FFF;
    border-radius: 10px;
    margin: 0 auto;
    padding: 50px 50px 50px 50px;
    width: 100%;
    height: 100%;
    max-width: 1110px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;

    .name-your-family {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        color: #333333;

        .family-type {
            font-family: 'Montserrat Bold';
            font-weight: 700;
        }
    }

    .score-heading {
        font-family: 'Montserrat Bold';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        color: #121212;
    }

    .family-type-logo {
        display: flex;
        justify-content: center;
        margin: 20px;

        img {
            width: 300px;
            height: 300px;
        }
    }

    .table-responsive {
        overflow-x: unset;
        display: block;
    }

    .family-content {
        background: #F4F4F4;
        border-radius: 20px;
        font-family: 'Adobe Garamond';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        padding: 40px;
        color: #272424;
    }

    .family-content-scroll {
        height: 600px;
        overflow-y: scroll;
    }

    .progress-values {
        font-family: 'Montserrat Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 26px;

        // text-align: center;
        .percentage-questions {
            color: #333333;
            text-align: center;
        }

        .progress-bar-text {
            padding-top: 10px;
            display: flex;
            text-transform: uppercase;
            color: #231F20;
            justify-content: center;
        }
    }
}

.tooltip1 {
    position: relative;
}

.tooltip1 .right {
    width: 260px;
    top: 280%;
    right: -30%;
    text-align: left;
    transform: translate(90%, -120%);
    padding: 10px 10px;
    color: #444444;
    background-color: #FFF8DD;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.tooltip1:hover .right {
    display: block;
    font-family: 'Adobe Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #272424;
}

.tooltip1:hover {
    color: #6DC5AA;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Montserrat Bold';
}

.tooltip1 .right i {
    position: absolute;
    top: 24%;
    right: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.tooltip1 .right i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
    background-color: #FFF8DD;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.i-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 12px;
}

.close-result-modal {
    border: none;
    background: none;

}

.close-result-modal img {
    width: 50px;
}

.close-icon-alignment {

    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 14px;

}

.csv-export img {
    width: 23px;
}

.search-category-hubspot {

    display: flex;
    gap: 20px;
    margin-bottom: 14px;

    .date-filter {
        display: flex;
        // gap: 21px;
        // align-items: baseline;
        // margin-top: -40px;
    }

    .status-filter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .completed-filter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .familytype-filter {
        display: flex;
        align-items: center;
    }

    .search-field {
        width: 200px;
        margin-bottom: 20px;
        background: url('../../../../assets/images/down-arrow-5.png') no-repeat right center;
        background-position: 96% center;
        background-size: 18px 20px;
        padding-right: 35px;
        cursor: pointer;
    }

    .search-date-hubspot {
        .hub-date-btn {
            border-radius: 7px;
            border: none;
            background-color: #321fdb;
            padding: 7px 20px;
            color: #fff;
        }
    }
}


.search-overall {
    display: flex;
    width: 100%;
    margin-bottom: 30px;

    input {
        padding: 0px 15px;
        width: 96%;
        border-radius: 5px;
        border: 1px solid #b1b7c1;
        height: 38px;
        background-color: transparent;
    }
}

[type=search] {
    outline-offset: 0px !important;
}

.searchButton img {
    width: 23px;

}

.searchButton {
    cursor: pointer;
}

.search-category-hubspot .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: transparent;
}

.progress-values .mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #EDC228 !important;
}

.date-filter .date-input {
    border: 1px solid #b1b7c1;
    height: 40px;
    border-radius: 7px;
}

.date-filter .mat-mdc-form-field-bottom-align::before {

    height: unset;
    content: unset;
}

.date-filter .mat-mdc-form-field-icon-suffix {
    align-items: baseline;
}

.invitors-count {
    width: 60px;
}

.mat-mdc-form-field-infix {
    min-height: unset;
    padding: 0px !important;
}

.mat-mdc-form-field-flex {

    height: 40px;
    align-items: center !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: transparent;
}

@media(min-width:1000px) and (max-width:1600px) {

    .search-category-hubspot .search-field {

        width: 125px;
        font-size: 12px;
    }

    .search-category-hubspot .date-filter {
        // margin-top: -38px;
        align-items: baseline;
    }

    .search-overall input {
        width: 95%;
    }

    .search-category-hubspot .date-filter .date-input {
        width: 140px;
        font-size: 12px;
        height: 33px
    }

    .search-category-hubspot .search-date-hubspot .hub-date-btn {
        padding: 4px 10px;
    }

    .search-category-hubspot .last-updation {
        font-size: 14px;
    }

    .search-category-hubspot .updation-from {
        font-size: 13px;
    }

    .updation-to {
        font-size: 12px;
    }

    .search-category-hubspot .date-filter .date-section {
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .close-icon-alignment {
        z-index: 999;
    }

    .family-table {
        font-size: 12px;
    }

    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
        margin-top: -12px;
    }
}
@media(min-width:1601px) and (max-width:1890px){

    .date-section{
        display: flex;
        align-items: center;
    }

    .date-filter .date-input {
width:200px;
    }
    .last-updation {
        font-size: 14px;
    }
    .updation-from {
        font-size: 14px
    }
    .updation-to {
        font-size: 14px;
    }
    .search-category-hubspot .date-filter {
        align-items: baseline;
    }


}
@import '~@angular/material/prebuilt-themes/indigo-pink.css';