
$color_1: #636363;
$color_2: #999;
$color_3: #f15e5e;
$color_4: #fff;

.modal-confirm {
	color: $color_1;
	width: 400px;
	.modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
		text-align: center;
		font-size: 14px;
	}
	.modal-header {
		border-bottom: none;
		position: relative;
	}
	h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	.close {
		position: absolute;
		top: -5px;
		right: -2px;
	}
	.modal-body {
		color: $color_2;
	}
	.modal-footer {
		border: none;
		text-align: center;
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
		a {
			color: $color_2;
		}
	}
	.icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
		i {
			color: $color_3;
			font-size: 46px;
			display: inline-block;
			margin-top: 13px;
		}
	}
	.btn {
		color: $color_4;
		border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
		line-height: normal;
		min-width: 120px;
		border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		&:active {
			color: $color_4;
			border-radius: 4px;
			background: #60c7c1;
			text-decoration: none;
			transition: all 0.4s;
			line-height: normal;
			min-width: 120px;
			border: none;
			min-height: 40px;
			border-radius: 3px;
			margin: 0 5px;
		}
	}
	.btn-secondary {
		background: #c1c1c1;
		&:hover {
			background: #a8a8a8;
		}
		&:focus {
			background: #a8a8a8;
		}
	}
	.btn-danger {
		background: #f15e5e;
		&:hover {
			background: #ee3535;
		}
		&:focus {
			background: #ee3535;
		}
	}
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

.modal-lg, .modal-xl {
    --cui-modal-width: 680px !important;
}