.avatar-icon{
    border: 1px solid #484343 !important;
    width: 30px;
}

.avatar-img{
    width: 30px;
    border: 1px solid #0b0b0b !important;

}
.rounded-1 {
    border-radius:50px !important;
}
.open-door{
    width:23px;
}

.ps-1 img{
width:23px;
}

.header-nav .dropdown-menu {
    padding-bottom:0px;
}
.log-out-btn{
    cursor:pointer;
}