<div class="modal-header">
    <h4 class="modal-title">UPDATE AFFILIATE</h4>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"><img
            src="../../../../assets/images/close-icon.png" alt="close-icon">
    </button>
</div>
<form [formGroup]="affiliateEditForm" (ngSubmit)="submitAffiliateEditForm()">
    <div class="modal-boy">
        <div class="container">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" formControlName="Firstname" [(ngModel)]="affiliateObj.Firstname"
                    [ngClass]="{ 'is-invalid': submitted && f['Firstname'].errors }" />
                <div *ngIf="submitted && f['Firstname'].errors" class="invalid-feedback">
                    <div *ngIf="f['Firstname'].errors['required']">First Name is required</div>
                    <div class="alert-text" *ngIf="f['Firstname'].errors['maxlength']">Name
                        must be 3 to 60 alphabets.
                    </div>
                    <div class="alert-text" *ngIf="f['Firstname'].errors['pattern']"> Name should not exceed above 60
                        letters: Special characters and numbers
                        are
                        not
                        allowed.
                    </div>
                </div>

                <div *ngIf="!f['Firstname'].errors">
                    <div class="invalid-feedback" class="alert-text" *ngIf="this.firstNameEmpty">
                        Field should not contain only white spaces.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" formControlName="Lastname" [(ngModel)]="affiliateObj.Lastname"
                    [ngClass]="{ 'is-invalid': submitted && f['Lastname'].errors }" />
                <div *ngIf="submitted && f['Lastname'].errors" class="invalid-feedback">
                    <div *ngIf="f['Lastname'].errors['required']">Last Name is required</div>
                    <div class="alert-text" *ngIf="f['Lastname'].errors['maxlength']">Name
                        must be 3 to 60 alphabets.
                    </div>
                    <div class="alert-text" *ngIf="f['Lastname'].errors['pattern']">Name should not exceed above 60
                        letters: Special characters and numbers
                        are
                        not
                        allowed.
                    </div>
                </div>

                <div *ngIf="!f['Lastname'].errors">
                    <div class="invalid-feedback" class="alert-text" *ngIf="this.lastNameEmpty">
                        Field should not contain only white spaces.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="churchName">Organisation/Church Name</label>
                <input type="text" class="form-control" formControlName="Organizationorchurchname"
                    [(ngModel)]="affiliateObj.Organizationorchurchname"
                    [ngClass]="{ 'is-invalid': submitted && f['Organizationorchurchname'].errors }" />
                <div *ngIf="submitted && f['Organizationorchurchname'].errors" class="invalid-feedback">
                    <div *ngIf="f['Organizationorchurchname'].errors['required']">Church Name is required</div>
                </div>
                <div *ngIf="!f['Organizationorchurchname'].errors">
                    <div class="invalid-feedback" class="alert-text" *ngIf="this.organizationEmpty">
                        Field should not contain only white spaces.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" formControlName="Contactno" [(ngModel)]="affiliateObj.Contactno"
                    [ngClass]="{ 'is-invalid': submitted && f['Contactno'].errors }" />
                <div *ngIf="submitted && f['Contactno'].errors" class="invalid-feedback">
                    <div *ngIf="f['Contactno'].errors['required']">Phonenumber is required</div>
                    <div *ngIf="f['Contactno'].errors['pattern']">Phone Number must be a valid,alphabets are not allowed.
                    </div>
                </div>

                <div *ngIf="!f['Contactno'].errors">
                    <div class="invalid-feedback" class="alert-text" *ngIf="this.contactNoEmpty">
                        Field should not contain only white spaces.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="emailId">Email Id</label>
                <input type="email" class="form-control" formControlName="Email" [(ngModel)]="affiliateObj.Email"
                    [ngClass]="{ 'is-invalid': submitted && f['Email'].errors }" />
                <div *ngIf="submitted && f['Email'].errors" class="invalid-feedback">
                    <div *ngIf="f['Email'].errors['required']">Email Id is required</div>
                    <div *ngIf="f['Email'].errors['pattern']">Invalid email format. Please enter a valid email address
                        without spaces
                        between letters.</div>
                </div>

                <div *ngIf="!f['Email'].errors">
                    <div class="invalid-feedback" class="alert-text" *ngIf="this.emailEmpty">
                        Field should not contain only white spaces.
                    </div>
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="displayorder">Link</label>
                <div class="copy-content">
                    <input type="text" class="form-control" formControlName="displayorder" />
                    <button class="copy-btn" (click)="copyContent()">{{this.copyText?'copied':'Copy'}}</button>
                </div>
            </div> -->
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success">
            Update
        </button>
    </div>
</form>

<div class="fade show" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh"
    *ngIf="this.showAffiliateLoader">
    <i class="spinner-grow spinner-grow-sm"></i>
    <span class="m-1">Loading...</span>
</div>